<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<title>Home</title>

	<link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/css/blog.css}">
	<link rel="stylesheet" href="../static/css/blog.rtl.css" th:href="@{/css/blog.rtl.css}">


	<style>
		.bd-placeholder-img {
			font-size: 1.125rem;
			text-anchor: middle;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
		}

		@media (min-width: 768px) {
			.bd-placeholder-img-lg {
				font-size: 3.5rem;
			}
		}
	</style>


	<!-- Custom styles for this template -->
	<link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="blog.css" rel="stylesheet">
</head>

<body>

	<div class="container">
		<header class="blog-header py-3">
			<div class="row flex-nowrap justify-content-between align-items-center">
				<div class="col-4 pt-1">
					<a class="link-secondary" href="#">Subscribe</a>
				</div>
				<div class="col-4 text-center">
					<a class="blog-header-logo text-dark" style="text-decoration: underline;">La Revista</a>
				</div>
				<div class="col-4 d-flex justify-content-end align-items-center">
					<a class="btn btn-sm btn-outline-secondary" style="margin-right: 5%;"
						th:href="@{/auth/registrar}">Registrar</a>
					<a class="btn btn-sm btn-outline-secondary" th:href="@{/auth/login}">Entrar</a>
				</div>
			</div>
		</header>

		<div class="nav-scroller py-1 mb-2">
			<nav class="nav d-flex justify-content-between px-3">
				<a class="p-2 link-secondary" th:each="categoria : ${categorias}" th:text="${categoria.tipoCategoria}"
					th:attr="data-idCategoria=${categoria.idCategoria}, get-id=${nombreUsuario}"
					onclick="confirmarRedireccionCategoria(event)"></a>
			</nav>
		</div>
	</div>

	<main class="container">
		<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
			<div class="col-md-6 px-0">
				<h1 class="display-4 fst-italic">assssst</h1>
				<p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and
					efficiently about what’s most interesting in this post’s contents.</p>
				<p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
			</div>
		</div>

		<div class="row mb-2" th:if="${not #lists.isEmpty(noticias)}">

			<div class="col-md-6" th:each="noticia, iterStat : ${noticias}" th:if="${iterStat.index < 4}">
				<div
					class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
					<div class="col p-4 d-flex flex-column position-static">
						<strong class="d-inline-block mb-2 text-primary"
							th:text="${noticia.idCategoria.tipoCategoria}"></strong>
						<strong class="d-inline-block mb-2 text-primary"
							th:text="'Publicado por: ' + ${noticia.idUsuario.nombreUsuario}"></strong>
						<h3 class="mb-0" th:text="${noticia.tituloNoticia}"></h3>
						<div class="mb-1" th:text="${noticia.fchaPublicacionMostrarWeb}"></div>
						<p class="card-text" id="descripcionNoticia" th:text="${noticia.resumenNoticia}"></p>
						<a th:attr="data-idCategoria=${noticia.idCategoria.idCategoria}, data-idNoticia=${noticia.idNoticia}, get-id=${nombreUsuario}"
							onclick="confirmarRedireccion(event)" class="stretched-link">Seguir leyendo</a>
					</div>
					<div class="col-auto d-none d-lg-block">
                        <img style="width: 250px; height: 250px;" alt="Image" class="profile-image" width="200px"
							th:if="${noticia.foto!= null}"
							th:src="'data:image/png;base64, ' + ${noticia.foto}" />
                        <svg th:unless="${noticia.foto != null}" class="bd-placeholder-img" width="200" height="250"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                            <title>Placeholder</title>
                            <rect width="100%" height="100%" fill="#55595c" />
                            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>
                    </div>
				</div>
			</div>

		</div>
	</main>

	<footer class="blog-footer">
		<p>Periodico "La Revista"</p>
		<p>
			<a th:href="@{/}">Subir</a>
		</p>
	</footer>
</body>

</html>