	<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Recuperar contraseña</title>
	
	<link rel="stylesheet" href="../static/css/estilo.css" th:href="@{/css/estilo.css}">
	<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
		th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="wrapper">
		<div class="logoLogin">
			<img src="https://www.freepnglogos.com/uploads/logo-nu-png/nu-logo-hd-free-nahdlatul-ulama-emblem-download-1.png"
				alt="">
		</div>
		<div class="text-center mt-4 name">
			Restablecer la contraseña
		</div>
		<form class="p-3 mt-3" th:action="@{/auth/recuperar}" th:object="${usuarioDTO}" method="post">
			<div class="form-field d-flex align-items-center">
				<input type="hidden" th:field="*{token}" />
				<span class="far fa-pass"></span>
				<input type="password" th:field="*{password}" class="input" required
					oninput="revisarContraseña()" id="claveUsuario" placeholder="Nueva Contraseña" />
			</div>
			<div class="form-field d-flex align-items-center">
				<span class="far fa-pass2"></span>
				<input type="password" th:field="*{password2}" class="input" required
					oninput="revisarContraseña()" id="confirmarClaveUsuario" placeholder="Confirmar Contraseña" />
			</div>
				<button class="btn mt-3" type="submit">Recuperar</button>
		</form>
	</div>

	<script th:if="${not #strings.isEmpty(mensajeErrorMail)}">
		mostrarNotificacion("¡Error!", "Se ha producido un error en el proceso de recuperación, revisa la información ingresada.", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(contraseñaModificadaError)}">
		mostrarNotificacion("¡Error!", "Ha ocurrido un error al reestablecer la contraseña", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeErrorTokenValidez)}">
		mostrarNotificacion("¡Error!", "Token no válido", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeErrorTokenExpirado)}">
		mostrarNotificacion("¡Error!", "El token ha expirado", 'error');
	</script>

</body>

</html>